@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

$body-background: #F8F8F8 !default;

// main colors
$color-black-primary: #202125 !default;
$color-white-primary: #FFFFFF !default;
$color-green-primary: #5BCB02 !default;
// or this could be $text-color-info as well

// border colors
$border-color-100: #F8F8F8 !default;
$border-color-200: #EEEEEE !default;
$border-color-300: #A1A2A4 !default;

// font sizes
$font-size-sm: 12px !default;
$font-size-md: 16px !default;
$font-size-lg: 24px !default;
