.dayTimeWrapper {
  width: 300px;
  margin: 0 auto;
  margin-top: 30px;
}

.dayTimeItem {
  margin: 10px 0;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  font-weight: medium;

  p {
    margin: 0 
  }
}
