@import 'src/styles/variables';

.dayTimeWrapper {
  width: 400px;
  margin: 0 auto;
  margin-top: 30px;
}

.dayTimeItem {
  margin: 10px 0;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;

  p {
    margin: 0 
  }
}

.day {
  display: flex;
}

// style will be crossover if restaurant has TODAY badge and 2 'open-close' time slots
// @TODO Talk to designer & product
.badge {
  margin-left: 10px;
  text-transform: capitalize;
  font-size: $font-size-sm;
  display: flex;
  align-items: center;
  font-weight: bold;
  color: $color-green-primary;
}
